language: python
cache: pip
python: 3.4
sudo: false
env:
 - TOXENV=py26
 - TOXENV=py27
 - TOXENV=py32
 - TOXENV=py33
 - TOXENV=py34
 - TOXENV=pypy
 - TOXENV=pypy3
install:
 - pip install -U tox
script: tox
